/* CSS restaurant.php */
body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#back-list{
    width: 150px;
    background-color: #F1A28F;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
}
#restaurant-name{
    margin-top: 30px;
}
.title::after{
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    margin-top: 10px;
    background-color: red;
}
#description{
    max-width: 90%;
}
.space-bottom{
    margin-bottom: 20px;
}
#explication{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
#left{
    width: 50%;
}
#right{
    width: 50%;
}
